{% extends "rest_framework/base.html" %}

{% load url from future %}
{% load rest_framework %}

{% block title %}{{ settings.PROJECT_NAME }}{% endblock %}

{% block bootstrap_theme %}
<link rel="icon" type="image/png" href="{% static "style/traceparent_logo_128.png" %}" />
<link rel="stylesheet" href="{% if settings.debug %}{% static "style/bootstrap-cosmo.css" %}{% else %}{% static "style/bootstrap-cosmo.min.css" %}{% endif %}" type="text/css">
<link rel="stylesheet" href="{% static "style/style.css" %}" type="text/css">
{% endblock %}

{% block branding %}<a href="{{ settings.PROJECT_URL }}">{{ settings.PROJECT_NAME }}</a> <span class="version">{{ settings.PROJECT_VERSION }}{% if settings.PROJECT_VERSION_REVISION %} <span class="revision">{{ settings.PROJECT_VERSION_REVISION }}</span>{% endif %}</span>{% endblock %}

{% block userlinks %}
    {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'tp_auth_user_manage' %}">Manage</a></li>
                <li><a href="{% url 'tp_auth_logout' %}">Log out</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'tp_auth_login' %}">Log in</a></li>
        <li><a href="{% url 'tp_auth_user_create' %}">Create account</a></li>
    {% endif %}
{% endblock %}

