input[type="checkbox"] { vertical-align: -15%; }

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container { width: 1170px; }

.breadcrumb > li > .divider { color: #888; }

ul.breadcrumb { margin: 75px 0 0 0 !important; }

.version::before { padding-left: 1em; }

.version .revision::before {
    content: "(rev";
    opacity: 0.6;
    padding-right: 0.25em;
}

.version .revision::after {
    content: ")";
    opacity: 0.6;
}

.description { margin-bottom: 20px; }
.description:empty { display: none; }

#object-form .uneditable-input {
    width: 90%;
    color: gray;
}

#object-form .uneditable-input {
    cursor: pointer !important;
}

#action {
    margin-left: 13px;
}

.control-group .controls ul { margin-left: 0; }
.control-group .controls li { list-style: none; }

#footer {
    background-color: #2C2C2C;
    position: fixed;
    width: 99%;
    left: 0;
    bottom: 0;
    padding: 0.5%;
    height: auto !important;
}

#footer span {
    padding-left: 50px;
    color: white;
}
